<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- page1 -->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>de.unidue.inf.is.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Display</servlet-name>
        <servlet-class>de.unidue.inf.is.DisplayImages.Display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUser</servlet-name>
        <servlet-class>DisplayImages.DisplayUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSearch</servlet-name>
        <servlet-class>de.unidue.inf.is.ViewSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRating</servlet-name>
        <servlet-class>de.unidue.inf.is.NewRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- page2 -->
    <servlet>
        <servlet-name>new_Drive</servlet-name>
        <servlet-class>de.unidue.inf.is.NewDriveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RootServlet</servlet-name>
        <servlet-class>de.unidue.inf.is.RootServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>de.unidue.inf.is.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>new_Drive</servlet-name>
        <url-pattern>/new_Drive</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>de.unidue.inf.is.Signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <!-- page3 -->
    <servlet>
        <servlet-name>ViewDriveServlet</servlet-name>
        <servlet-class>de.unidue.inf.is.ViewDriveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewDriveServlet</servlet-name>
        <url-pattern>/drive</url-pattern>
    </servlet-mapping>
    <!-- page4 -->
    <servlet>
        <servlet-name>ViewMainServlet</servlet-name>
        <servlet-class>de.unidue.inf.is.ViewMainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMainServlet</servlet-name>
        <url-pattern>/ViewMain</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>WEB-INF</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ContentType</param-name>
            <param-value>text/html; charset=UTF-8</param-value>
        </init-param>
        <!-- FreeMarker settings: -->
        <init-param>
            <param-name>template_update_delay</param-name>
            <param-value>0</param-value>
            <!-- 0 is for development only! Use higher value otherwise. -->
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <param-value>UTF-8</param-value>
            <!-- The encoding of the template files. -->
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Display</servlet-name>
        <url-pattern>/Display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUser</servlet-name>
        <url-pattern>/DisplayUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSearch</servlet-name>
        <url-pattern>/ViewSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RootServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRating</servlet-name>
        <url-pattern>/NewRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
